.vscode/**
.vscode-test/**
.github/**
src/**
dist/**/*.map
*.map
*.vsix
.oxlintrc.json
oxlint.config.ts
tools/**
tsconfig.json
esbuild.js
node_modules/**
.gitignore
bun.lock*
package-lock.json
resources/icon.svg
test/**
